html, body {
	margin: 0 auto;
	padding: 0;
	height: 100%;
	width: 93%;
}
.header {
	
    background: black;
    height: 200px;
    padding: 10px 0 0;
    z-index: 0;
}
.header h2, p {
	font-size: 160%;
	color: white;
	text-align: center;
	z-index: 1;
}
.header h2{
	display: block;
    padding: 5px;
    border: 3px solid white;
    margin: 50px auto 10px;
    width: 200px;
    height: 27px;
    }

    .header p {
    	margin: 0;
    }

.lColumn {
	width: 18%;
	background: #b1b1b1;
	height: 100%;
	padding-left: 50px;
	float: left;
}
.rColumn{
	float: left;
	width: 70%;
	margin-left: 20px;
}
#avatar {
    border-radius: 85px;
    margin: 25px auto;
    max-height: 200px;
    width: 200px;
    background: white;
}
.personal{

}
.rColumn p{

	color: black;
	font-size: 100%;
	text-align: left;
	float: left;
}
.block_title{
	border-bottom: 1px solid gray;
}
.dates {
	list-style-type: none;
	width: 7%;
    padding-left: 0;
    float: left;
    margin-top: 0;
}
.date{
    padding-bottom: 19px;
    padding-top: 0;
    width: 78%;
}
.progress {
	width: 100%;
	height: 20px;
	border-radius: 10px;
	border: 1px solid #000;
	background: linear-gradient(to bottom, #333, #979797);
}
.progress::before {
	content: '';
	display: block;
	width: 30%;
	height: 18px;
	border: 1px solid #008DF2;
	border-radius: 10px 0 0 10px;
	box-shadow: 3px 0 3px rgba(0,0,0,0.5);
	background: linear-gradient(0deg, #54BDFD, #0691F3, #54BDFD);
}
.skill{
    width: 44%;
    float: left;
    padding-right: 50px;
    padding-bottom: 20px
}
.skill h4{
	padding-top: 10px;
	margin: 0;
} 
.blockHob img {
    height: 100px;
    width: 100px;
    padding-left: 30px;
    padding-right: 30px;
}
.portfolio_table tr{
	border-bottom: 1px solid black;
}
/*.circle-container {
	display: inline-block;
	margin: 0;
	padding: 0;
	position: relative;
	height: 100px;
}
.circle-background, .circle-main {
	background-color: transparent;
	border: 8px solid pink;
	border-radius: 50%;
	height: 100px;
	width: 100px;
}*/
/*.circle-background {
	opacity: .3;
}
.circle-main {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
}*/